*{
  background-color:white;
}

.app .area{
  margin: 2rem 6rem;
}
.app .area .group_of_btns{
  display:flex;
  justify-content:space-between;
  algin-items:center;
  flex-direction:'row'
}
.app .area .group_of_btns button{
  cursor:pointer;
  outline:none;
  border:none;
  background-color:#ededed;
  color:black;
  font-family:"Regular";
  font-size:10px;
  height:40px;
  padding:0px 20px;
  transition: 0.2s all ease-in;
}
.app .area .group_of_btns button:hover{
  transition: 0.2s all ease-in;
  opacity:0.8;
}
.app .area .table_area{
  margin:4rem 0rem;
}
